<div class="card">
    <p-dataView [value]="totalBlogs" [paginator]="true" [rows]="3" filterBy="title" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold">Articles</span>
                <button pButton pRipple class="p-button-primary" label="Create"
                    icon="pi pi-fw pi-pencil" type="button" (click)="onCreateBlog()"></button>
            </div>
        </ng-template>

        <ng-template let-blogs pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-12 md:col-4" *ngFor="let blog of blogs">
                    <app-blog-list-card [blog]="blog"></app-blog-list-card>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>