<div class="flex flex-column h-full">
    <div class="flex flex-column align-items-center border-bottom-1 surface-border p-6">
        <img [src]="myself?.image?.imageUrl" class="w-6rem h-6rem border-circle shadow-4" alt="Asiya Javayant">
        <span class="text-900 text-xl font-semibold mt-4">{{myself?.username}}</span>
    </div>
    <div class="p-4 pb-0">
        <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input icon="" id="search" type="text" pInputText placeholder="Search" class="w-full"
                [(ngModel)]="searchValue" (input)="filterConversation(); filterUser()" />
        </span>
    </div>
    <div class="flex flex-column flex-auto gap-3 p-4 overflow-auto">
        <ng-container *ngIf="searchValue !== '' && filterConversations.length === 0; else conversations">
            <div *ngFor="let user of filteredUsers">
                <div class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none
            hover:surface-hover transition-colors transition-duration-150" (keydown.enter)="createConversation(user)"
                    (click)="createConversation(user)" tabindex="0">
                    <div class="flex align-items-center">
                        <div class="relative md:mr-3">
                            <img [src]="user?.image?.imageUrl" alt="user" class="w-3rem h-3rem border-circle shadow-4">
                            <span class="w-1rem h-1rem border-circle border-2 surface-border absolute"
                                [ngClass]="{'bg-green-400': user.status === 'active', 'bg-red-400': user.status === 'busy', 'bg-yellow-400': 'away'}"
                                style="bottom: 2px; right: 2px"></span>
                        </div>
                        <div class="flex-column hidden md:flex">
                            <span class="text-900 font-semibold block">{{user.username}}</span>
                            <span
                                class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">lastMessage.text NO CONVERSATION</span>
                        </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">{{user.lastSeen}}</span>
                </div>
            </div>
        </ng-container>
        <ng-template #conversations>
            <div *ngFor="let conversation of filterConversations">
                <div class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none
        hover:surface-hover transition-colors transition-duration-150" (keydown.enter)="changeView(conversation)"
                    (click)="changeView(conversation)" tabindex="0">
                    <div class="flex align-items-center">
                        <div class="relative md:mr-3">
                            <img [src]="conversation?.image?.imageUrl" alt="conversation"
                                class="w-3rem h-3rem border-circle shadow-4">
                            <span class="w-1rem h-1rem border-circle border-2 surface-border absolute"
                                [ngClass]="{'bg-green-400': conversation.status === 'active', 'bg-red-400': conversation.status === 'busy', 'bg-yellow-400': 'away'}"
                                style="bottom: 2px; right: 2px"></span>
                        </div>
                        <div class="flex-column hidden md:flex">
                            <span class="text-900 font-semibold block">{{conversation.username}}</span>
                            <span
                                class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">lastMessage.text</span>
                        </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">{{conversation.lastSeen}}</span>
                </div>
            </div>
        </ng-template>
    </div>