<div class="p-3">
    <div class="h-auto surface-100 cursor-pointer z-index border-round" (click)="navigateToDetail()">
        <div class="relative">
            <img [src]="blog.image?.imageUrl" class="w-full" />
            <img [src]="blog.user?.image?.imageUrl" class="flex absolute w-4rem h-4rem"
                style="bottom: -1.5rem; right: 1.5rem">
        </div>
        <div class="p-3">
            <div class="text-900 font-semibold text-xl mb-3">{{blog.title}}</div>
            <p class="text-700 text-lg mt-0 mb-5 overflow-hidden text-overflow-ellipsis white-space-nowrap">{{blog.description}}</p>
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="flex align-items-center text-900">
                    <i class="pi pi-comment mr-2"></i>
                    <span class="font-semibold">{{blog.messages.length}}</span>
                </span>
                <span class="flex align-items-center text-900">
                    <i class="pi pi-share-alt mr-2"></i>
                    <span class="font-semibold">{{blog.messages.length}}</span>
                </span>
                <span class="flex align-items-center text-900">
                    <i class="pi pi-clock mr-2"></i>
                    <span class="font-semibold mr-1">{{blog.createdAt | date: 'HH:mm'}}</span>
                </span>
            </div>
        </div>
    </div>
</div>